@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "FK Grotesk";
		src: local("FK Grotesk"), local("FKGrotesk");
		font-weight: 300 500;
		font-display: swap;
	}

	@font-face {
		font-family: "FK Grotesk Mono";
		src: local("FK Grotesk Mono"), local("FKGroteskMono");
		font-weight: 300 500;
		font-display: swap;
	}

	body {
		background-color: #fcfcf9;
		color: #111827;
		font-weight: 400;
		letter-spacing: 0.005em;
		transition-property: color, background-color;
		transition-duration: 300ms;
	}

	:root[class~="dark"] body {
		background-color: #121212;
		color: #fcfcf9;
	}

	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 450;
		letter-spacing: -0.01em;
	}
}
