@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "FK Grotesk";
		src: local("FK Grotesk"), local("FKGrotesk");
		font-weight: 300 500;
		font-display: swap;
	}

	@font-face {
		font-family: "FK Grotesk Mono";
		src: local("FK Grotesk Mono"), local("FKGroteskMono");
		font-weight: 300 500;
		font-display: swap;
	}

	:root {
		--background-light: #fcfcf9;
		--background-dark: #121212;
		--primary: #d2691e;
		--primary-light: #e07a3e;
		--primary-dark: #b85a14;
		--accent: #cd5c5c;
		--accent-light: #e9967a;
		--text-dark: #111827;
		--text-light: #fcfcf9;
	}

	body {
		background-color: var(--background-light);
		color: var(--text-dark);
		font-weight: 400;
		letter-spacing: 0.005em;
		transition-property: color, background-color;
		transition-duration: 300ms;
	}

	:root[class~="dark"] body {
		background-color: var(--background-dark);
		color: var(--text-light);
	}

	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 450;
		letter-spacing: -0.01em;
	}
}
